<section class="route developments-for-user">

  <div class="left-panel-links">
    {{#link-to 'map'}}
      <img src="/assets/images/chevrons-left.svg">
      Close
    {{/link-to}}
  </div>

  <div class="panel-headers">
    <h1>My Developments</h1>
    <h3>Listed below are all of the developments you have created</h3>
  </div>

  {{#if model}}
    <ul>
      <li class="list-header">
        <div>Name</div>
        <div>Address</div>
        <div>Status</div>
      </li>
      <div class='list-body'>
        {{#each model as |development|}} 
          <li>
            <div> 
              {{#link-to 'map.developments.development' development}}{{development.name}}{{/link-to}}
            </div>
            <div>
              {{#link-to 'map.developments.development' development}}{{development.fullAddress}}{{/link-to}}
            </div>
            <div style="color: {{status-color development.status}}">{{capitalize development.status}}</div>
          </li>
        {{/each}}
      </div>
    </ul>
  {{else}}
    <div class="no-records">
      You have not created any developments. Would you like to {{link-to 'create one' 'map.developments.create'}}?
    </div>
  {{/if}}

</section>
