<section class="route map-developments-development">

  {{#link-to 'map' class="close-link"}}
    <img src="/assets/images/chevrons-left.svg">
    Close
  {{/link-to}}

  <div class="development-content">
    <div class="layout-column">
      <div class="development-header">
        <h1>{{model.name}}</h1>
        <h2><img src="/assets/images/map-pin.svg"> {{model.address}}</h2>

        {{#if model.prjUrl}}
          <a href={{model.prjUrl}} class="project-url">{{model.prjUrl}}</a>
        {{/if}}
      </div>

      <div class="metric-groups-wrapper">
        <div class="metric-groups">
          <article> 
            <h4>Key Info</h4>

            <div class="row">
              <div class="column">
                <div class="field">
                  <label for="status">Status:</label>
                  {{capitalize model.status}}
                </div>

                <div class="field">
                  {{#if (eq model.status 'completed')}}
                    <label for="yearCompl">Year Completed</label>
                    {{model.yearCompl}}
                  {{else}}
                    <label for="yrcompEst">Yr. Compl. Est.</label>
                    {{#if model.yrcompEst}}
                      {{model.yrcompEst}}
                    {{else}}
                      {{model.yearCompl}}
                    {{/if}}
                  {{/if}}
                </div>

                <div class="field">
                  <label for="totalCost">Cost</label>
                  ${{model.totalCost}}
                </div>

                <div class="field">
                  <label for="prjarea">Project Area</label>
                  {{model.prjarea}} sqft.
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <label for="height">Height</label>
                  {{model.height}} ft.
                </div>

                <div class="field">
                  <label for="stories">Stories</label>
                  {{model.stories}}
                </div>

                <div class="field">
                  <label for="onsitepark">Parking Spaces</label>
                  {{model.onsitepark}}
                </div>

                <div class="field">
                  <label for="parkType">Parking Type</label>
                  {{model.parkType}}
                </div>
              </div>
            </div>

            {{#if keyAttributes}}
              <p class="attributes">
                <label>Attributes:</label>
                {{keyAttributes}}
              </p>
            {{/if}}
          </article>

          <article>
            <h4>Residential</h4>

            <div class="row">
              <div class="column">
              </div>

              <div class="column">
              </div>
            </div>

            {{#if residentialAttributes}}
              <p class="attributes">
                <label>Attributes:</label>
                {{residentialAttributes}}
              </p>
            {{/if}}

            <table class="housing-units">
              <tr class="table-header">
                <td>Unit Type</td>
                <td>Quantity</td>
                <td>Percentage</td>
              </tr>

              {{#if model.singfamhu}}
                <tr>
                  <td>Single Family</td>
                  <td>{{model.singfamhu}}</td>
                  <td>{{mult 100 (div model.singfamhu model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.smmultifam}}
                <tr>
                  <td>Small Multi-family</td>
                  <td>{{model.smmultifam}}</td>
                  <td>{{mult 100 (div model.smmultifam model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.lgmultifam}}
                <tr>
                  <td>Large Multi-family</td>
                  <td>{{model.lgmultifam}}</td>
                  <td>{{mult 100 (div model.lgmultifam model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.units1Bd}}
                <tr>
                  <td>Studio/1 Bedroom</td>
                  <td>{{model.units1Bd}}</td>
                  <td>{{mult 100 (div model.units1Bd model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.units2Bd}}
                <tr>
                  <td>2 Bedroom</td>
                  <td>{{model.units2Bd}}</td>
                  <td>{{mult 100 (div model.units2Bd model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.units3Bd}}
                <tr>
                  <td>3 Bedroom</td>
                  <td>{{model.units3Bd}}</td>
                  <td>{{mult 100 (div model.units3Bd model.hu)}}%</td>
                </tr>
              {{/if}}

            </table>
          </article>

          <article>
            <h4>Commercial</h4>

            <div class="row">
              <div class="column">
              </div>

              <div class="column">
              </div>
            </div>

            <table class="commercial-makeup">
              <tr class="table-header">
                <td>Unit Type</td>
                <td>Quantity</td>
                <td>Percentage</td>
              </tr>

              {{#if model.singfamhu}}
                <tr>
                  <td>Single Family</td>
                  <td>{{model.singfamhu}}</td>
                  <td>{{mult 100 (div model.singfamhu model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.smmultifam}}
                <tr>
                  <td>Small Multi-family</td>
                  <td>{{model.smmultifam}}</td>
                  <td>{{mult 100 (div model.smmultifam model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.lgmultifam}}
                <tr>
                  <td>Large Multi-family</td>
                  <td>{{model.lgmultifam}}</td>
                  <td>{{mult 100 (div model.lgmultifam model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.units1Bd}}
                <tr>
                  <td>Studio/1 Bedroom</td>
                  <td>{{model.units1Bd}}</td>
                  <td>{{mult 100 (div model.units1Bd model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.units2Bd}}
                <tr>
                  <td>2 Bedroom</td>
                  <td>{{model.units2Bd}}</td>
                  <td>{{mult 100 (div model.units2Bd model.hu)}}%</td>
                </tr>
              {{/if}}

              {{#if model.units3Bd}}
                <tr>
                  <td>3 Bedroom</td>
                  <td>{{model.units3Bd}}</td>
                  <td>{{mult 100 (div model.units3Bd model.hu)}}%</td>
                </tr>
              {{/if}}

            </table>

          </article>
        </div>
      </div>
    </div>

    <div class="layout-column">
      <div class="detail">
        <h3>Developer</h3>
        <p>{{model.devlper}}</p>
      </div>

      {{#if model.user}}
        <div class="detail">
          <h3>Entry Created By</h3>
          <p>{{model.user.fullName}}</p>
        </div>
      {{/if}}

      <div class="detail">
        <h3>Last Updated</h3>
        <p>{{model.updatedAt}}</p>
      </div>
    </div>
  </div>

</section>
