<div class="development-panel-header">
  <h1>Create Development</h1>

  <div class="left-panel-links">
    {{#if (eq mode 'edit')}}
      {{#link-to 'map.developments.development.index' model.id}}
        <img src="/assets/images/chevrons-left.svg">
        Cancel
      {{/link-to}}
    {{else}}
      {{#link-to 'map'}}
        <img src="/assets/images/chevrons-left.svg">
        Cancel
      {{/link-to}}
    {{/if}}

    {{#loading-spinner message=loadingSpinnerText isLoading=isLoading}}
      <button onclick={{action update}} class='submit-changes styled' disabled={{not (and fulfilled changes)}}>
        {{submitText}}
      </button>
    {{/loading-spinner}}
  </div>
</div>
<form class="development-content">
  {{#overflow-scroll}}
    <div class="development-header">

      <div class="form-row required primary">
        <label for="development_name" class="hidden">Development Name</label>
        {{input
          id="development_name"
          value=editing.name
          class=(if inValid.name 'invalid')
          placeholder="Development Name"
          input=(action checkForUpdated 'name')
        }}
      </div>

      <div class="form-row required secondary location-fields">
        <img src="/assets/images/map-pin.svg">
        <label for="development_latitude" class="hidden">Latitude</label>
        {{input
          id="development_latitude"
          value=(to-fixed editing.latitude 6)
          placeholder="Latitude"
          readonly="readonly"
        }}
        <label for="development_longitude" class="hidden">Longitude</label>
        {{input
          id="development_longitude"
          value=(to-fixed editing.longitude 6)
          placeholder="Longitude"
          readonly="readonly"
        }}
        <p><em>Drag map to set location</em></p>
      </div>

      <div class="form-row secondary project-url">
        <img src="/assets/images/link.svg">
        {{input
          class=(if inValid.prjUrl 'invalid')
          value=editing.prjUrl
          placeholder="Project Website"
          input=(action checkForUpdated 'prjUrl')}}
      </div>

    </div>

    <div class="detail-group">
      <article>
        <h4>Meta Data</h4>
        <div class="row">
          <div class="column">
            <div class="field">
              <label>{{defined-term key='DEVELOPER'}}</label>
              {{input
                value=editing.devlper
                class=(if inValid.devlper 'invalid')
                placeholder="Enter Developer Name"
                input=(action checkForUpdated 'devlper')}}
            </div>
            {{#if model.user}}
              <div class="field">
                <label>Entry Created By</label>
                <span>
                  {{#if (eq model.user.fullName 'undefined undefined')}}
                    {{loading-spinner message="Loading Creator" isLoading=true}}
                  {{else}}
                    {{model.user.fullName}}
                  {{/if}}
                </span>
              </div>
            {{/if}}
            {{#if editing.updatedAt}}
              <div class="field">
                <label>Last Updated</label>
                <span>{{format-date editing.updatedAt format='MMM. Do YYYY'}}</span>
              </div>
            {{/if}}
            <div class="field long-form">
              <label class="required">
                {{defined-term key='DESCRIPTION'}}
              </label>
              <p>
                {{textarea
                  value=editing.descr
                  class=(if inValid.descr 'invalid required-field' 'required-field')
                  placeholder="Enter Description"
                  input=(action checkForUpdated 'descr')}}
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="metric-groups">
      <article>
        <h4>Key Info</h4>

        <div class="row">
          <div class="column">
            <div class="field">
              <label for="status" class="required">
                {{defined-term key='STATUS'}}
              </label>
              <select
                class={{if inValid.status 'invalid'}}
                name="status"
                onchange={{action updateStatus}}
              >
                {{#unless editing.status}}
                  <option disabled selected>Select Status</option>
                {{/unless}}
                {{#each filters.status.options as |option|}}
                  <option value={{option}} selected={{if (eq option editing.status) 'selected'}}>{{capitalize option}}</option>
                {{/each}}
              </select>
            </div>

            <div class="field">
              <label for="yearCompl" class="required">
                {{defined-term key='YEAR_COMPLETE'}}
              </label>
              {{input
                class=(if inValid.yearCompl 'invalid')
                value=editing.yearCompl class="required-field"
                placeholder="Enter here"
                input=(action checkForUpdated 'yearCompl')}}
            </div>

            <div class="field">
              <label for="yrcompEst">Complete Date Estimated?</label>
              {{input type="checkbox" checked=editing.yrcompEst click=(action checkForUpdated 'yrcompEst')}}
            </div>

            <div class="field">
              <label for="totalCost">
                {{defined-term key='COST_OF_CONSTRUCTION'}}
              </label>
              ${{input
                class=(if inValid.totalCost 'invalid')
                value=editing.totalCost
                placeholder="Enter here"
                input=(action checkForUpdated 'totalCost')}}
            </div>

            <div class="field">
              <label for="prjarea">
                {{defined-term key='PROJECT_AREA'}}
              </label>
              {{input
                class=(if inValid.prjarea 'invalid')
                value=editing.prjarea placeholder="Enter here"
                input=(action checkForUpdated 'prjarea')}}
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label for="height">
                {{defined-term key='HEIGHT'}}
              </label>
              {{input
                class=(if inValid.height 'invalid')
                value=editing.height
                placeholder="Enter here"
                input=(action checkForUpdated 'height')}}
            </div>

            <div class="field">
              <label for="stories">
                {{defined-term key='STORIES'}}
              </label>
              {{input
                class=(if inValid.stories 'invalid')
                value=editing.stories
                placeholder="Enter here"
                input=(action checkForUpdated 'stories')}}
            </div>

            <div class="field">
              <label for="onsitepark">
                {{defined-term key='PARKING_SPACES'}}
              </label>
              {{input
                class=(if inValid.onsitepark 'invalid')
                value=editing.onsitepark
                placeholder="Enter here"
                input=(action checkForUpdated 'onsitepark')}}
            </div>

            <div class="field">
              <label for="parkType">Parking Type</label>
              <ul class="multi-check-options">
                {{#each filters.parkType.options as |option|}}
                  <li>
                    {{input type="checkbox" class="field-parkType" name=option checked=(contains option selectedParkTypes) click=(action checkForUpdated 'parkType')}}
                    {{capitalize option}}
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        <p class="attributes">
          <label>Attributes:</label>

          <span>
            <label for="rdv">
              {{defined-term key='REDEVELOPMENT'}}
            </label>
            {{input type='checkbox' checked=editing.rdv click=(action checkForUpdated 'rdv')}}
          </span>,

          <span>
            <label for="phased">
              {{defined-term key='PHASED'}}
            </label>
            {{input type='checkbox' checked=editing.phased click=(action checkForUpdated 'phased')}}
          </span>,

          <span>
            <label for="stalled">
              {{defined-term key='STALLED'}}
            </label>
            {{input type='checkbox' checked=editing.stalled click=(action checkForUpdated 'stalled')}}
          </span>,

          <span>
            <label for="asofright">
              {{defined-term key='AS_OF_RIGHT'}}
            </label>
            {{input type='checkbox' checked=editing.asofright click=(action checkForUpdated 'asofright')}}
          </span>,

          <span>
            <label for="mixedUse">
              {{defined-term key='MIXED_USE'}}
            </label>
            {{input type='checkbox' checked=editing.mixedUse click=(action checkForUpdated 'mixedUse')}}
          </span>
        </p>
      </article>

      <article>
        <h4>Residential</h4>

        <div class="row">
          <div class="column">
            <div class="field">
              <label for="gqpop">
                {{defined-term key='GROUP_QUARTERS_POPULATION'}}
              </label>
              {{input
                class=(if inValid.gqpop 'invalid')
                value=editing.gqpop
                placeholder="Enter here"
                input=(action checkForUpdated 'gqpop')}}
            </div>
          </div>
          <div class="column">
          </div>
        </div>

        <p class="attributes">
          <label>Attributes:</label>

          <span>
            <label for="ovr55">
              {{defined-term key='AGE_RESTRICTED'}}
            </label>
            {{input type='checkbox' checked=editing.ovr55 click=(action checkForUpdated 'ovr55')}}
          </span>
        </p>

        <div class="table-wrapper">
          <div class="table-heading">
            <h3 class="field">
              <label for="hu" class="required">
                {{defined-term key='HOUSING_UNITS'}}
              </label>
            </h3>
            <span>
              {{#if (and (not-eq editing.hu null) (gte editing.hu 0))}}
                <em>{{editing.hu}} Unit{{unless (eq editing.hu 1) 's'}}</em>
              {{else}}
                <em>Enter quantity of each unit type below</em>
              {{/if}}
            </span>
          </div>
          <table class="housing-units">
            <tr class="table-header">
              <td>Unit Type</td>
              <td>Quantity</td>
              <td>Percentage</td>
            </tr>

            <tr>
              <td>
                <label for="singfamhu">{{defined-term key="SINGLE_FAMILY"}}</label>
              </td>
              <td>
                {{input
                  class=(if inValid.singfamhu 'invalid')
                  value=editing.singfamhu
                  placeholder='-'
                  input=(action updateHu 'singfamhu')}}
              </td>
              <td>
                {{#if (gt editing.hu 0)}}
                  {{round (mult 100 (div editing.singfamhu editing.hu))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="smmultifam">{{defined-term key="SMALL_MULTI_FAMILY"}}</label>
              </td>
              <td>
                {{input
                  class=(if inValid.smmultifam 'invalid')
                  value=editing.smmultifam
                  placeholder='-'
                  input=(action updateHu 'smmultifam')}}
              </td>
              <td>
                {{#if (gt editing.hu 0)}}
                  {{round (mult 100 (div editing.smmultifam editing.hu))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="lgmultifam">{{defined-term key="LARGE_MULTI_FAMILY"}}</label>
              </td>
              <td>
                {{input
                  class=(if inValid.lgmultifam 'invalid')
                  value=editing.lgmultifam
                  placeholder='-'
                  input=(action updateHu 'lgmultifam')}}
              </td>
              <td>
                {{#if (gt editing.hu 0)}}
                  {{round (mult 100 (div editing.lgmultifam editing.hu))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>{{defined-term key="UNKNOWN_HOUSING_UNITS"}}</td>
              <td>
                {{input
                  class=(if inValid.unknownhu 'invalid')
                  value=editing.unknownhu
                  placeholder='-'
                  input=(action updateHu 'unknownhu')}}
              </td>
              <td>
                {{#if (gt editing.hu 0)}}
                  {{round (mult 100 (div editing.unknownhu editing.hu))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>
          </table>
          <table class="housing-units">
            <tr class="table-header">
              <td>Unit Style</td>
              <td>Quantity</td>
              <td>Percentage</td>
            </tr>
            <tr>
              <td><label for="units1bd">Studio/1 Bedroom</label></td>
              <td>
                {{input
                  class=(if inValid.units1bd 'invalid')
                  value=editing.units1bd
                  placeholder='-'
                  input=(action updateHu 'units1bd')}}
              </td>
              <td>
                {{#if (gt editing.hu 0)}}
                  {{round (mult 100 (div editing.units1bd editing.hu))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td><label for="units2bd">2 Bedroom</label></td>
              <td>
                {{input
                  class=(if inValid.units2bd 'invalid')
                  value=editing.units2bd
                  placeholder='-'
                  input=(action updateHu 'units2bd')}}
              </td>
              <td>
                {{#if (gt editing.hu 0)}}
                  {{round (mult 100 (div editing.units2bd editing.hu))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td><label for="units3bd">3 Bedroom</label></td>
              <td>
                {{input
                  class=(if inValid.units3bd 'invalid')
                  value=editing.units3bd
                  placeholder='-'
                  input=(action updateHu 'units3bd')}}
              </td>
              <td>
                {{#if (gt editing.hu 0)}}
                  {{round (mult 100 (div editing.units3bd editing.hu))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>
          </table>
        </div>

        <div class="table-wrapper">
          <div class="table-heading">
            <h3 class="field">
              <label for="affrdUnit">
                {{defined-term key='AFFORDABLE_UNITS'}}
              </label>
            </h3>
            <span>
              {{#if (and (not-eq editing.affrdUnit null) (gte editing.affrdUnit 0))}}
                <em>{{editing.affrdUnit}} Unit{{unless (eq editing.affrdUnit 1) 's'}}</em>
              {{else}}
                <em>Enter quantity of each unit type below</em>
              {{/if}}
            </span>
          </div>

          <table class="affordable-units">
            <tr class="table-header">
              <td>Unit Type</td>
              <td>Quantity</td>
              <td>Percentage</td>
            </tr>

            <tr>
              <td><label for="affU30">Units &lt;30% AMI</label></td>
              <td>
                {{input
                  class=(if inValid.affU30 'invalid')
                  value=editing.affU30
                  placeholder='-'
                  input=(action updateAffrdUnit 'affU30')}}
              </td>
              <td>
                {{#if (gt editing.affrdUnit 0)}}
                  {{round (mult 100 (div editing.affU30 editing.affrdUnit))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td><label for="aff3050">Units 30-50% AMI</label></td>
              <td>
                {{input
                  class=(if inValid.aff3050 'invalid')
                  value=editing.aff3050
                  placeholder='-'
                  input=(action updateAffrdUnit 'aff3050')}}
              </td>
              <td>
                {{#if (gt editing.affrdUnit 0)}}
                  {{round (mult 100 (div editing.aff3050 editing.affrdUnit))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td><label for="aff5080">Units 50-80% AMI</label></td>
              <td>
                {{input
                  class=(if inValid.aff5080 'invalid')
                  value=editing.aff5080
                  placeholder='-'
                  input=(action updateAffrdUnit 'aff5080')}}
              </td>
              <td>
                {{#if (gt editing.affrdUnit 0)}}
                  {{round (mult 100 (div editing.aff5080 editing.affrdUnit))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td><label for="aff80p">Units 80-100% AMI</label></td>
              <td>
                {{input
                  class=(if inValid.aff80p 'invalid')
                  value=editing.aff80p
                  placeholder='-'
                  input=(action updateAffrdUnit 'aff80p')}}
              </td>
              <td>
                {{#if (gt editing.affrdUnit 0)}}
                  {{round (mult 100 (div editing.aff80p editing.affrdUnit))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>Unknown</td>
              <td>
                {{input
                  class=(if inValid.affUnknown 'invalid')
                  value=editing.affUnknown
                  placeholder='-'
                  input=(action updateAffrdUnit 'affUnknown')}}
              </td>
              <td>
                {{#if (gt editing.affrdUnit 0)}}
                  {{round (mult 100 (div editing.affUnknown editing.affrdUnit))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>
          </table>
        </div>
      </article>

      <article>
        <h4>Commercial</h4>

        <div class="row">
          <div class="column">
            <div class="field">
              <label for="rptdemp">
                {{defined-term key='REPORTED_EMPLOYMENT'}}
              </label>
              {{input
                class=(if inValid.rptdemp 'invalid')
                value=editing.rptdemp
                placeholder="Enter here"
                input=(action checkForUpdated 'rptdemp')}}
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label for="hotelrms">
                {{defined-term key='HOTEL_ROOMS'}}
              </label>
              {{input
                class=(if inValid.hotelrms 'invalid')
                value=editing.hotelrms
                placeholder="Enter here"
                input=(action checkForUpdated 'hotelrms')}}
            </div>

            <div class="field">
              <label for="publicsqft">
                {{defined-term key='PUBLIC_AREA'}}
              </label>
              {{input
                class=(if inValid.publicsqft 'invalid')
                value=editing.publicsqft
                placeholder="Enter here"
                input=(action checkForUpdated 'publicsqft')}}
            </div>
          </div>
        </div>

        <p class="attributes">
          <label>Attributes:</label>

          <span>
            <label for="headqtrs">
              {{defined-term key='COMPANY_HEADQUARTERS'}}
            </label>
            {{input type='checkbox' checked=editing.headqtrs click=(action checkForUpdated 'headqtrs')}}
          </span>
        </p>

        <div class="table-wrapper">
          <div class="table-heading">
            <h3 class="field">
              <label for="commsf" class="required">
                {{defined-term key='COMMERCIAL_AREA'}}
              </label>
            </h3>
            <span>
              {{#if (and (not-eq editing.commsf null) (gte editing.commsf 0))}}
                <em>{{editing.commsf}} sqft.</em>
              {{else}}
                <em>Enter the floor area for each use type below</em>
              {{/if}}
            </span>
          </div>

          <table class="commercial-makeup">
            <tr class="table-header">
              <td>Use Type</td>
              <td>Floor Area (sqft.)</td>
              <td>Percentage</td>
            </tr>

            <tr>
              <td>
                <label for="retSqft">
                  {{defined-term key='RETAIL_AREA'}}
                </label>
              </td>
              <td>
                {{input
                  class=(if inValid.retSqft 'invalid')
                  value=editing.retSqft
                  placeholder='-'
                  input=(action updateCommsf 'retSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.retSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="ofcmdSqft">
                  {{defined-term key='OFFICE_MEDICAL_AREA'}}
                </label>
              </td>
              <td>
                {{input
                  class=(if inValid.ofcmdSqft 'invalid')
                  value=editing.ofcmdSqft
                  placeholder='-'
                  input=(action updateCommsf 'ofcmdSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.ofcmdSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="indmfSqft">
                  {{defined-term key='INDUSTRIAL_MANUFACTURING_AREA'}}
                </label>
              </td>
              <td>
                {{input
                  class=(if inValid.indmfSqft 'invalid')
                  value=editing.indmfSqft
                  placeholder='-'
                  input=(action updateCommsf 'indmfSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.indmfSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="whsSqft">
                  {{defined-term key='WAREHOUSE_SHIPPING_AREA'}}
                </label>
              </td>
              <td>
                {{input
                  class=(if inValid.whsSqft 'invalid')
                  value=editing.whsSqft
                  placeholder='-'
                  input=(action updateCommsf 'whsSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.whsSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="rndSqft">
                  {{defined-term key='RESEARCH_DEVELOPMENT_AREA'}}
                </label>
              </td>
              <td>
                {{input
                  class=(if inValid.rndSqft 'invalid')
                  value=editing.rndSqft
                  placeholder='-'
                  input=(action updateCommsf 'rndSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.rndSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="eiSqft">
                  {{defined-term key='EDUCATIONAL_INSTITUTIONAL_AREA'}}
                </label>
              </td>
              <td>
                {{input
                  class=(if inValid.eiSqft 'invalid')
                  value=editing.eiSqft placeholder='-'
                  input=(action updateCommsf 'eiSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.eiSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="hotelSqft">
                  {{defined-term key='HOTEL_ROOM_AREA'}}
                </label>
              </td>
              <td>
                {{input
                  class=(if inValid.hotelSqft 'invalid')
                  value=editing.hotelSqft placeholder='-'
                  input=(action updateCommsf 'hotelSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.hotelSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                <label for="otherSqft">
                  {{defined-term key='OTHER_AREA'}}
                </label>
              </td>
              <td>
                {{input
                  class=(if inValid.otherSqft 'invalid')
                  value=editing.otherSqft
                  placeholder='-'
                  input=(action updateCommsf 'otherSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.otherSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                {{defined-term key='UNKNOWN_AREA'}}
              </td>
              <td>
                {{input
                  class=(if inValid.unkSqft 'invalid')
                  value=editing.unkSqft
                  placeholder='-'
                  input=(action updateCommsf 'unkSqft')}}
              </td>
              <td>
                {{#if (gt editing.commsf 0)}}
                  {{round (mult 100 (div editing.unkSqft editing.commsf))}}%
                {{else}}
                  0%
                {{/if}}
              </td>
            </tr>
          </table>
        </div>
      </article>
    </div>
  {{/overflow-scroll}}
  <div class="required-note">
    * = required field
  </div>
</form>
