<div class="subviews">
  <button onclick={{action changeView 'selected'}} class="{{if (eq view 'selected') 'active'}}">
    <img src="{{rootURL}}assets/images/check-square.svg">
  </button>
  <button onclick={{action changeView 'search'}} class="{{if (eq view 'search') 'active'}}">
    <img src="{{rootURL}}assets/images/search.svg">
  </button>
</div>

{{valueUpdater}}

{{#if (eq view 'selected')}}
  <div class="subview discrete-selected">
    {{#if selected}}
      <ul> 
        {{#each selected as |value|}}
          <li>
            {{value}}

            <div class="discrete-value-actions">
              <button onclick={{action deselect value}}>X</button>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="no-selections">
        No {{viewing.name}}s selected
      </div>
    {{/if}}
  </div>
{{else}}
  <div class="subview">
    {{input value=searchQuery placeholder=placeholder}}

    <div class="list-wrapper">
      <ul class="discrete-value-list">
        {{#each filteredValues as |value|}} 
          <li>
            {{value}}

            <div class="discrete-value-actions">
              <button onclick={{action select value}}>+</button>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
