<div class="search-input-wrapper {{if (or searching showFiltersActive) 'searching'}}">
  <img src="/assets/images/search.svg" class="search-icon">
  {{input class="search-input" value=searchQuery placeholder=placeholder autocomplete="off"}}
  <span class="clear-search {{if (or searching activeFilters) 'active'}}" onclick={{action clearSearch}}>x</span>
</div>

{{#if (and (or searching showFiltersActive) (not disabled))}}
  <ul class="search-list">

    {{#if (and showFiltersActive (not filterPanelOpen))}}
      <li class="active-filters" onclick={{action toggleFilters}}>
        {{numberOfActiveFilters}} active filter{{if (gt numberOfActiveFilters 1) 's'}}
      </li>
    {{/if}}

    {{#if searching}}
      {{#each-in searchList as |groupTitle group|}}
        {{#if group}}
          <li class="group-title">
            <h4>{{groupTitle}}</h4>
          </li>

          {{#each group as |item|}}
            <li onclick={{action selectItem item}}>
              <h5>{{item.value}}</h5>
              <p>{{item.name}}</p>
            </li>
          {{/each}}
        {{/if}}
      {{/each-in}}
    {{/if}}

    {{#if (and searching (eq searchListCount 0))}}
      <li class="no-results">
        No results
      </li>
    {{/if}}

    {{#if (and searching (and hasPermissions (lt searchListCount 6) (not (eq appCtrl.currentRouteName 'map.developments.create'))))}}
      {{#link-to 'map.developments.create'}}
        <li class="create-new">
          Can't find what you're looking for? <b>Click here</b> to submit
          a development to the database.
        </li>
      {{/link-to}}
    {{/if}}
  </ul>
{{/if}}
