<div class="search-input-wrapper {{if searching 'searching'}}">
  <img src="/assets/images/search.svg" class="search-icon">
  {{input class="search-input" value=searchQuery placeholder=placeholder}}
</div>

{{#if searching}}
  <ul class="search-list">
    {{#each-in searchList as |groupTitle group|}}
      {{#if group}}
        <li class="group-title">
          <h4>{{groupTitle}}</h4>
        </li>

        {{#each group as |item|}}
          <li onclick={{action selectItem item}}>
            <h5>{{item.value}}</h5>
            <p>{{item.name}}</p>
          </li>
        {{/each}}
      {{/if}}
    {{/each-in}}
  </ul>
{{/if}}
