{{#if linkMessage}}
  <div class="link-message {{linkClass}}">
    {{linkMessage}}
  </div>
{{/if}}

<div class="share-buttons-wrapper">
  <button class="share-button" onclick={{action toShapefile}}>.shp</button>
  <button class="share-button" onclick={{action toCSV}}>.csv</button>
  <button class="share-button" onclick={{action toLink}}>
    <img src="/assets/images/link.svg">
  </button>
</div>
