<section class='route index'>

  <!-- floating components -->
  <div class="search-wrapper">
    <div class="filter-actions">
      <button onclick={{action toggleFilters}} class="filter-toggler {{if showingFilters 'active'}} {{if filtering 'filtering'}}">
        <img src="{{rootURL}}assets/images/filter.svg">
      </button>
      <button onclick={{action clearFilters}} class="clear-filters {{unless filtering 'disabled'}}">
        X
      </button>
    </div>
    {{search-bar placeholder=searchPlaceholder}}
  </div>

  {{share-buttons model=model}}
  <!--/ floating components -->

  <div class="panel-layer left-panel-layer {{if showingLeftPanel 'active'}}">
    {{filter-panel 
      update=(action updateFilter)
      activeFilters=activeFilters}}
  </div>

  <div class="map-layer">
    {{#leaflet-map onLoad=(action setMapInstance) bounds=map.bounds as |layers|}}
      {{layers.tile url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

      {{#each model.truncDevelopments as |datum|}}
        {{layers.circle 
          lat=datum.latitude 
          lng=datum.longitude
          color='#3c5875'
          radius=1.2
        }} 
      {{/each}}
    {{/leaflet-map}}
  </div>

  <div class="panel-layer right-panel-layer {{if showingRightPanel 'active'}}">
  </div>
</section>
