<section class='route index'>

  <!-- floating components -->
  <div class="search-wrapper">
    <div class="filter-actions">
      <button onclick={{action toggleFilters}} class="filter-toggler {{if showingFilters 'active'}} {{if filtering 'filtering'}}">
        <img src="{{rootURL}}assets/images/filter.svg">
      </button>
      <button onclick={{action clearFilters}} class="clear-filters {{unless filtering 'disabled'}}">
        X
      </button>
    </div>
    {{search-bar placeholder=searchPlaceholder}}
  </div>

  {{share-buttons model=model}}

  <!--/ floating components -->

  <div class="left-panel-layer">
    {{filter-panel model=filters}}
  </div>

  <div class="map-layer">
    {{#leaflet-map lat=map.lat lng=map.lng zoom=map.zoom as |layers|}}
      {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

      {{#each map.data as |datum|}}
      {{/each}}
    {{/leaflet-map}}
  </div>

  <div class="right-panel-layer">
  </div>
</section>
