<section class='route map'>

  <!-- floating components -->
  <div class="search-wrapper">
    <div class="filter-actions">
      <button onclick={{action toggleFilters}} class="filter-toggler {{if showingFilters 'active'}} {{if filtering 'filtering'}}">
        <img src="/assets/images/filter.svg">
      </button>
      <button onclick={{action clearFilters}} class="clear-filters {{unless filtering 'disabled'}}">
        X
      </button>
    </div>

    {{search-bar
      addDiscreteFilter=(action addDiscreteFilter)
      viewDevelopment=(action viewDevelopment)
      searchQuery=searchQuery
      placeholder=searchPlaceholder
      model=map.stored
    }}
  </div>

  <button class="toggler menu-toggler {{if showingRightPanel 'active'}}" onclick={{action toggleMenu}}>
    <span class="hamburger"></span>
  </button>

  {{#if currentUser.user}}
    {{share-buttons filterParams=filterParams}}
  {{/if}}

  <div class="legend-wrapper">
    {{map-legend showing=showingFilters}}
    <div class="map-button-pair map-zoom-buttons">
      <button class="selector" onclick={{action setZoomCommand 'IN'}}>
        +
      </button>
      <button class="selector" onclick={{action setZoomCommand 'OUT'}}>
        -
      </button>
    </div>
    <div class="map-button-pair map-basemap-buttons">
      <button class="selector" disabled={{eq baseMap 'light'}} onclick={{action setBaseMap 'light'}}>
        Map
      </button>
      <button class="selector" disabled={{eq baseMap 'satellite'}} onclick={{action setBaseMap 'satellite'}}>
        Satellite
      </button>
    </div>
    <div class="info-links">
      {{link-to 'Glossary' 'glossary'}}
      {{link-to 'FAQ' 'faq'}}
    </div>
  </div>

  {{notifications-popup}}
  <!--/ floating components -->

  <div class="panel-layer left-panel-layer {{if showingLeftPanel 'active'}}">
    {{#if showingFilters}}
      {{filter-panel
        update=(action updateFilter)
        activeFilters=activeFilters
      }}
    {{else}}
      {{outlet}}
    {{/if}}
  </div>

  <div class="map-layer">

    {{#unless (or map.stored map.filteredData)}}
      <div class="map-loading-overlay">
        <div class="loading-text">
          <h1>MassBuilds</h1>

          <div class="loader">
            <span class="spinning-box"></span>
            Mapping Developments
          </div>
        </div>
      </div>
    {{/unless}}
    {{mapbox-map
      activeFilters=activeFilters
      viewDevelopment=(action viewDevelopment)
    }}
  </div>

  <div class="panel-layer right-panel-layer {{if showingRightPanel 'active'}}">
    {{user-panel
      panel=panel
      hideFilters=(action hideFilters)
      toggleMenu=(action toggleMenu)
      showLoginPanel=showLoginPanel
      showSignupPanel=showSignupPanel
    }}
  </div>

</section>
