<section class='route map'>

  <!-- floating components -->
  <div class="search-wrapper">
    <div class="filter-actions">
      <button onclick={{action toggleFilters}} class="filter-toggler {{if showingFilters 'active'}} {{if filtering 'filtering'}}">
        <img src="/assets/images/filter.svg">
      </button>
      <button onclick={{action clearFilters}} class="clear-filters {{unless filtering 'disabled'}}">
        X
      </button>
    </div>

    {{search-bar 
      addDiscreteFilter=(action addDiscreteFilter)
      viewDevelopment=(action viewDevelopment)
      placeholder=searchPlaceholder 
      model=map.stored
    }}
  </div>

  <button class="toggler menu-toggler {{if showingRightPanel 'active'}}" onclick={{action toggleMenu}}>
    <span class="hamburger"></span>
  </button>

  {{#if session.isAuthenticated}}
    {{share-buttons model=model}}
  {{/if}}

  {{map-legend}}
  <!--/ floating components -->

  <div class="panel-layer left-panel-layer {{if showingLeftPanel 'active'}}">
    {{filter-panel 
      update=(action updateFilter)
      activeFilters=activeFilters}}
  </div>

  <div class="map-layer">

    {{#unless map.data}}
      <div class="map-loading-overlay">
        <div class="loading-text">
          <h1>MassBuilds</h1>

          <div class="loader">
            <span class="spinning-box"></span>
            Mapping Developments
          </div>
        </div>
      </div>
    {{/unless}}

    {{#leaflet-map onLoad=(action setMapInstance) bounds=map.bounds as |layers|}}
      {{layers.tile url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

      {{#each map.data as |datum|}}
        {{layers.circle 
          lat=datum.latitude 
          lng=datum.longitude
          color=(status-color datum.status)
          onClick=(action 'viewDevelopment' datum.id)
          radius=4
        }} 
      {{/each}}
    {{/leaflet-map}}
  </div>

  <div class="panel-layer right-panel-layer {{if showingRightPanel 'active'}}">
    {{user-panel
      panel=panel
      showLoginPanel=showLoginPanel
      showSignupPanel=showSignupPanel
    }}
  </div>

</section>
