<p>
  <strong>Creator:</strong>
  <%= @development.user_id %>
</p>

<p>
  <strong>Rdv:</strong>
  <%= @development.rdv %>
</p>

<p>
  <strong>Asofright:</strong>
  <%= @development.asofright %>
</p>

<p>
  <strong>Ovr55:</strong>
  <%= @development.ovr55 %>
</p>

<p>
  <strong>Clusteros:</strong>
  <%= @development.clusteros %>
</p>

<p>
  <strong>Phased:</strong>
  <%= @development.phased %>
</p>

<p>
  <strong>Stalled:</strong>
  <%= @development.stalled %>
</p>

<p>
  <strong>Name:</strong>
  <%= @development.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @development.status %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @development.desc %>
</p>

<p>
  <strong>Project url:</strong>
  <%= @development.project_url %>
</p>

<p>
  <strong>Mapc notes:</strong>
  <%= @development.mapc_notes %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @development.tagline %>
</p>

<p>
  <strong>Address:</strong>
  <%= @development.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @development.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @development.zip_code %>
</p>

<p>
  <strong>Height:</strong>
  <%= @development.height %>
</p>

<p>
  <strong>Stories:</strong>
  <%= @development.stories %>
</p>

<p>
  <strong>Year compl:</strong>
  <%= @development.year_compl %>
</p>

<p>
  <strong>Prjarea:</strong>
  <%= @development.prjarea %>
</p>

<p>
  <strong>Singfamhu:</strong>
  <%= @development.singfamhu %>
</p>

<p>
  <strong>Twnhsmmult:</strong>
  <%= @development.twnhsmmult %>
</p>

<p>
  <strong>Lgmultifam:</strong>
  <%= @development.lgmultifam %>
</p>

<p>
  <strong>Tothu:</strong>
  <%= @development.tothu %>
</p>

<p>
  <strong>Gqpop:</strong>
  <%= @development.gqpop %>
</p>

<p>
  <strong>Rptdemp:</strong>
  <%= @development.rptdemp %>
</p>

<p>
  <strong>Emploss:</strong>
  <%= @development.emploss %>
</p>

<p>
  <strong>Commsf:</strong>
  <%= @development.commsf %>
</p>

<p>
  <strong>Hotelrms:</strong>
  <%= @development.hotelrms %>
</p>

<p>
  <strong>Onsitepark:</strong>
  <%= @development.onsitepark %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @development.total_cost %>
</p>

<p>
  <strong>Team membership count:</strong>
  <%= @development.team_membership_count %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @development.cancelled %>
</p>

<p>
  <strong>Private:</strong>
  <%= @development.private %>
</p>

<p>
  <strong>Fa ret:</strong>
  <%= @development.fa_ret %>
</p>

<p>
  <strong>Fa ofcmd:</strong>
  <%= @development.fa_ofcmd %>
</p>

<p>
  <strong>Fa indmf:</strong>
  <%= @development.fa_indmf %>
</p>

<p>
  <strong>Fa whs:</strong>
  <%= @development.fa_whs %>
</p>

<p>
  <strong>Fa rnd:</strong>
  <%= @development.fa_rnd %>
</p>

<p>
  <strong>Fa edinst:</strong>
  <%= @development.fa_edinst %>
</p>

<p>
  <strong>Fa other:</strong>
  <%= @development.fa_other %>
</p>

<p>
  <strong>Fa hotel:</strong>
  <%= @development.fa_hotel %>
</p>

<p>
  <strong>Other rate:</strong>
  <%= @development.other_rate %>
</p>

<p>
  <strong>Affordable:</strong>
  <%= @development.affordable %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @development.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @development.longitude %>
</p>

<p>
  <strong>Parcel:</strong>
  <%= @development.parcel_id %>
</p>

<p>
  <strong>Mixed use:</strong>
  <%= @development.mixed_use %>
</p>

<p>
  <strong>Point:</strong>
  <%= @development.point %>
</p>

<p>
  <strong>Programs:</strong>
  <%= @development.programs %>
</p>

<p>
  <strong>Forty b:</strong>
  <%= @development.forty_b %>
</p>

<p>
  <strong>Residential:</strong>
  <%= @development.residential %>
</p>

<p>
  <strong>Commercial:</strong>
  <%= @development.commercial %>
</p>

<%= link_to 'Edit', edit_development_path(@development) %> |
<%= link_to 'Back', developments_path %>
