<section class="route map-developments-development-edit">

  <div class="links">
    {{#link-to 'map.developments.development' model.id}}
      <img src="/assets/images/chevrons-left.svg">
      Cancel
    {{/link-to}}
  </div>

  <div class="development-content">
    <div class="layout-column">
      <div class="development-header">
        <h1>{{input value=model.name placeholder="Development Name"}}</h1>
        <h2><img src="/assets/images/map-pin.svg"> {{input value=model.address placeholder="Development Address"}}</h2>

        <h2 class="project-url">
          <img src="/assets/images/link.svg">
          {{input value=model.prjUrl placeholder="Project Website"}}
        </h2>
      </div>

      <div class="metric-groups-wrapper">
        <div class="metric-groups">
          <article> 
            <h4>Key Info</h4>

            <div class="row">
              <div class="column">
                <div class="field">
                  <label for="status">Status:</label>
                  {{capitalize model.status}}
                </div>

                <div class="field">
                  {{#if (eq model.status 'completed')}}
                    <label for="yearCompl">Year Completed</label>
                    {{input value=model.yearCompl placeholder="Enter here"}}
                  {{else}}
                    <label for="yrcompEst">Yr. Compl. Est.</label>
                    {{input value=model.yrcompEst placeholder="Enter here"}}
                  {{/if}}
                </div>

                <div class="field">
                  <label for="totalCost">Cost</label>
                  ${{input value=model.totalCost placeholder="Enter here"}}
                </div>

                <div class="field">
                  <label for="prjarea">Project Area</label>
                  {{input value=model.prjarea placeholder="Enter here"}}<span>sqft.</span>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <label for="height">Height</label>
                  {{input value=model.height placeholder="Enter here"}}<span>ft.</span>
                </div>

                <div class="field">
                  <label for="stories">Stories</label>
                  {{input value=model.stories placeholder="Enter here"}}
                </div>

                <div class="field">
                  <label for="onsitepark">Parking Spaces</label>
                  {{input value=model.onsitepark placeholder="Enter here"}}
                </div>

                <div class="field">
                  <label for="parkType">Parking Type</label>
                  {{model.parkType}}
                </div>
              </div>
            </div>

            <p class="attributes">
              <label>Attributes:</label>

              <span>
                <label for="rdv">Redevelopment: </label>
                {{input type='checkbox' checked=model.rdv}}
              </span>,

              <span>
                <label for="phased">Phased: </label>
                {{input type='checkbox' checked=model.phased}}
              </span>,

              <span>
                <label for="stalled">Stalled: </label>
                {{input type='checkbox' checked=model.stalled}}
              </span>,

              <span>
                <label for="asofright">As of Right: </label>
                {{input type='checkbox' checked=model.asofright}}
              </span>,

              <span>
                <label for="mixedUse">Mixed Use: </label>
                {{input type='checkbox' checked=model.mixedUse}}
              </span>
            </p>
          </article>

          <article>
            <h4>Residential</h4>

            <div class="row">
              <div class="column">
                <div class="field">
                  <label for="gqpop">Grp. Qrtrs. Pop.</label>
                  {{input value=model.gqpop placeholder="Enter here"}}
                </div>
              </div>
              <div class="column">
              </div>
            </div>

            <p class="attributes">
              <label>Attributes:</label>

              <span>
                <label for="ovr55">Age Restricted: </label>
                {{input type='checkbox' checked=model.ovr55}}
              </span>,

              <span>
                <label for="private">Private: </label>
                {{input type='checkbox' checked=model.private}}
              </span>
            </p>

            <div class="table-wrapper">
              <h3 class="field">
                <label for="hu">Tot. Housing Units</label>
                {{#if model.hu}}
                  {{number-format model.hu decimals=0}} Units
                {{else}}
                  No Housing Units
                {{/if}}
              </h3>

              <table class="housing-units">
                <tr class="table-header">
                  <td>Unit Type</td>
                  <td>Quantity</td>
                  <td>Percentage</td>
                </tr>

                <tr>
                  <td>Single Family</td>
                  <td>{{input value=model.singfamhu placeholder=0 key-up=(action updateHu)}}</td>
                  <td>{{round (mult 100 (div model.singfamhu model.hu))}}%</td>
                </tr>

                <tr>
                  <td>Small Multi-family</td>
                  <td>{{input value=model.smmultifam placeholder=0 key-up=(action updateHu)}}</td>
                  <td>{{round (mult 100 (div model.smmultifam model.hu))}}%</td>
                </tr>

                <tr>
                  <td>Large Multi-family</td>
                  <td>{{input value=model.lgmultifam placeholder=0 key-up=(action updateHu)}}</td>
                  <td>{{round (mult 100 (div model.lgmultifam model.hu))}}%</td>
                </tr>

                <tr>
                  <td>Studio/1 Bedroom</td>
                  <td>{{input value=model.units1Bd placeholder=0 key-up=(action updateHu)}}</td>
                  <td>{{round (mult 100 (div model.units1Bd model.hu))}}%</td>
                </tr>

                <tr>
                  <td>2 Bedroom</td>
                  <td>{{input value=model.units2Bd placeholder=0 key-up=(action updateHu)}}</td>
                  <td>{{round (mult 100 (div model.units2Bd model.hu))}}%</td>
                </tr>

                <tr>
                  <td>3 Bedroom</td>
                  <td>{{input value=model.units3Bd placeholder=0 key-up=(action updateHu)}}</td>
                  <td>{{round (mult 100 (div model.units3Bd model.hu))}}%</td>
                </tr>
              </table>
            </div>

            <div class="table-wrapper">
              <h3 class="field">
                <label for="affrdUnit">Affordable Units</label>
                {{#if model.affrdUnit}}
                  {{number-format model.affrdUnit decimals=0}} Units
                {{else}}
                  No Affordable Units
                {{/if}}
              </h3>

              <table class="affordable-units">
                <tr class="table-header">
                  <td>Unit Type</td>
                  <td>Quantity</td>
                  <td>Percentage</td>
                </tr>

                <tr>
                  <td>Units &lt;30% AMI</td>
                  <td>{{input value=model.affU30 placeholder=0 key-up=(action updateAffrdUnit)}}</td>
                  <td>{{round (mult 100 (div model.affU30 model.affrdUnit))}}%</td>
                </tr>

                <tr>
                  <td>Units 30-50% AMI</td>
                  <td>{{input value=model.affU3050 placeholder=0 key-up=(action updateAffrdUnit)}}</td>
                  <td>{{round (mult 100 (div model.affU3050 model.affrdUnit))}}%</td>
                </tr>

                <tr>
                  <td>Units 50-80% AMI</td>
                  <td>{{input value=model.affU5080 placeholder=0 key-up=(action updateAffrdUnit)}}</td>
                  <td>{{round (mult 100 (div model.affU5080 model.affrdUnit))}}%</td>
                </tr>

                <tr>
                  <td>Units 80-100% AMI</td>
                  <td>{{input value=model.affU80p placeholder=0 key-up=(action updateAffrdUnit)}}</td>
                  <td>{{round (mult 100 (div model.affU80p model.affrdUnit))}}%</td>
                </tr>
              </table>
            </div>
          </article>

          <article>
            <h4>Commercial</h4>

            <div class="row">
              <div class="column">
                <div class="field">
                  <label for="estemp">Estmtd. Emplmnt.</label>
                  {{input value=model.estemp placeholder="Enter here"}}
                </div>

                <div class="field">
                  <label for="rptdemp">Rprtd. Emplmnt.</label>
                  {{input value=model.rptdemp placeholder="Enter here"}}
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <label for="hotelrms">Hotel Rooms</label>
                  {{input value=model.hotelrms placeholder="Enter here"}}
                </div>
              </div>
            </div>

            <p class="attributes">
              <label>Attributes:</label>

              <span>
                <label for="headqtrs">Company Headquarters: </label>
                {{input type='checkbox' checked=model.headqtrs}}
              </span>
            </p>

            <div class="table-wrapper">
              <h3 class="field">
                <label for="commsf">Commercial Square Footage</label>
                {{#if model.commsf}}
                  {{number-format model.commsf decimals=0}} sqft.
                {{else}}
                  No Commercial Usage
                {{/if}}
              </h3>

              <table class="commercial-makeup">
                <tr class="table-header">
                  <td>Use Type</td>
                  <td>Floor Area (sqft.)</td>
                  <td>Percentage</td>
                </tr>

                <tr>
                  <td>Retail</td>
                  <td>{{input value=model.retSqft placeholder=0 key-up=(action updateCommsf)}}</td>
                  <td>{{round (mult 100 (div model.retSqft model.commsf))}}%</td>
                </tr>

                <tr>
                  <td>Office/Medical</td>
                  <td>{{input value=model.ofcmdSqft placeholder=0 key-up=(action updateCommsf)}}</td>
                  <td>{{round (mult 100 (div model.ofcmdSqft model.commsf))}}%</td>
                </tr>

                <tr>
                  <td>Industrial/Manufacturing</td>
                  <td>{{input value=model.indmfSqft placeholder=0 key-up=(action updateCommsf)}}</td>
                  <td>{{round (mult 100 (div model.indmfSqft model.commsf))}}%</td>
                </tr>

                <tr>
                  <td>Warehouse/Shipping</td>
                  <td>{{input value=model.whsSqft placeholder=0 key-up=(action updateCommsf)}}</td>
                  <td>{{round (mult 100 (div model.whsSqft model.commsf))}}%</td>
                </tr>

                <tr>
                  <td>Research/Development</td>
                  <td>{{input value=model.rndSqft placeholder=0 key-up=(action updateCommsf)}}</td>
                  <td>{{round (mult 100 (div model.rndSqft model.commsf))}}%</td>
                </tr>

                <tr>
                  <td>Educational/Institutional</td>
                  <td>{{input value=model.eiSqft placeholder=0 key-up=(action updateCommsf)}}</td>
                  <td>{{round (mult 100 (div model.eiSqft model.commsf))}}%</td>
                </tr>

                <tr>
                  <td>Hotel Room</td>
                  <td>{{input value=model.hotelSqft placeholder=0 key-up=(action updateCommsf)}}</td>
                  <td>{{round (mult 100 (div model.hotelSqft model.commsf))}}%</td>
                </tr>

                <tr>
                  <td>Other</td>
                  <td>{{input value=model.otherSqft placeholder=0 key-up=(action updateCommsf)}}</td>
                  <td>{{round (mult 100 (div model.otherSqft model.commsf))}}%</td>
                </tr>
              </table>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="layout-column">
      <div class="detail">
        <h3>Developer</h3>
        <p>{{input value=model.devlper placeholder="Enter Developer Name"}}</p>
      </div>

      {{#if model.user}}
        <div class="detail">
          <h3>Entry Created By</h3>
          <p>{{model.user.fullName}}</p>
        </div>
      {{/if}}

      <div class="detail">
        <h3>Last Updated</h3>
        <p>{{model.updatedAt}}</p>
      </div>
    </div>
  </div>


</section>
