<section class="route map-developments-development-index">

  <div class="links">
    {{#link-to 'map'}}
      <img src="/assets/images/chevrons-left.svg">
      Close
    {{/link-to}}

    {{#if session.isAuthenticated}}
      {{#link-to 'map.developments.development.edit' model}}
        <img src="/assets/images/edit-3.svg">
        Edit
      {{/link-to}}
    {{/if}}
  </div>

  <div class="development-content">
    <div class="layout-column">
      <div class="development-header">
        <h1>{{model.name}}</h1>
        <h2><img src="/assets/images/map-pin.svg"> {{model.address}}</h2>

        {{#if model.prjUrl}}
          <h2 class="project-url">
            <img src="/assets/images/link.svg">
            <a href={{model.prjUrl}}>{{model.prjUrl}}</a>
          </h2>

        {{/if}}

      </div>

      <div class="metric-groups-wrapper">
        <div class="metric-groups">
          <article> 
            <h4>Key Info</h4>

            <div class="row">
              <div class="column">
                <div class="field">
                  <label for="status">Status:</label>
                  {{capitalize model.status}}
                </div>

                <div class="field">
                  {{#if (eq model.status 'completed')}}
                    <label for="yearCompl">Year Completed</label>
                    {{model.yearCompl}}
                  {{else}}
                    <label for="yrcompEst">Yr. Compl. Est.</label>
                    {{#if model.yrcompEst}}
                      {{model.yrcompEst}}
                    {{else}}
                      {{model.yearCompl}}
                    {{/if}}
                  {{/if}}
                </div>

                <div class="field">
                  <label for="totalCost">Cost</label>
                  ${{number-format model.totalCost}}
                </div>

                <div class="field">
                  <label for="prjarea">Project Area</label>
                  {{number-format model.prjarea decimals=0}} sqft.
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <label for="height">Height</label>
                  {{number-format model.height decimals=0}} ft.
                </div>

                <div class="field">
                  <label for="stories">Stories</label>
                  {{model.stories}}
                </div>

                <div class="field">
                  <label for="onsitepark">Parking Spaces</label>
                  {{number-format model.onsitepark decimals=0}}
                </div>

                <div class="field">
                  <label for="parkType">Parking Type</label>
                  {{#if model.parkType}}
                    {{model.parkType}}
                  {{else}}
                    N/A
                  {{/if}}
                </div>
              </div>
            </div>

            {{#if keyAttributes}}
              <p class="attributes">
                <label>Attributes:</label>
                {{keyAttributes}}
              </p>
            {{/if}}
          </article>

          <article>
            <h4>Residential</h4>

            <div class="row">
              <div class="column">
                {{#if (gt model.gqpop 0)}}
                  <div class="field">
                    <label for="gqpop">Group Quarters Pop.</label>
                    {{number-format model.gqpop decimals=0}}
                  </div>
                {{/if}}
              </div>
              <div class="column">
              </div>
            </div>

            {{#if residentialAttributes}}
              <p class="attributes">
                <label>Attributes:</label>
                {{residentialAttributes}}
              </p>
            {{/if}}

            <div class="table-wrapper">
              <h3 class="field">
                <label for="hu">Tot. Housing Units</label>
                {{#if model.hu}}
                  {{number-format model.hu decimals=0}} Units
                {{else}}
                  No Housing Units
                {{/if}}
              </h3>

              {{#if model.hu}}
                <table class="housing-units">
                  <tr class="table-header">
                    <td>Unit Type</td>
                    <td>Quantity</td>
                    <td>Percentage</td>
                  </tr>

                  {{#if model.singfamhu}}
                    <tr>
                      <td>Single Family</td>
                      <td>{{number-format model.singfamhu decimals=0}}</td>
                      <td>{{round (mult 100 (div model.singfamhu model.hu))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.smmultifam}}
                    <tr>
                      <td>Small Multi-family</td>
                      <td>{{number-format model.smmultifam decimals=0}}</td>
                      <td>{{round (mult 100 (div model.smmultifam model.hu))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.lgmultifam}}
                    <tr>
                      <td>Large Multi-family</td>
                      <td>{{number-format model.lgmultifam decimals=0}}</td>
                      <td>{{round (mult 100 (div model.lgmultifam model.hu))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.units1Bd}}
                    <tr>
                      <td>Studio/1 Bedroom</td>
                      <td>{{number-format model.units1Bd decimals=0}}</td>
                      <td>{{round (mult 100 (div model.units1Bd model.hu))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.units2Bd}}
                    <tr>
                      <td>2 Bedroom</td>
                      <td>{{number-format model.units2Bd decimals=0}}</td>
                      <td>{{round (mult 100 (div model.units2Bd model.hu))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.units3Bd}}
                    <tr>
                      <td>3 Bedroom</td>
                      <td>{{number-format model.units3Bd decimals=0}}</td>
                      <td>{{round (mult 100 (div model.units3Bd model.hu))}}%</td>
                    </tr>
                  {{/if}}
                </table>
              {{/if}}
            </div>

            <div class="table-wrapper">
              <h3 class="field">
                <label for="affrdUnit">Affordable Units</label>
                {{#if model.affrdUnit}}
                  {{number-format model.affrdUnit decimals=0}} Units
                {{else}}
                  No Affordable Units
                {{/if}}
              </h3>

              {{#if model.affrdUnit}}
                <table class="affordable-units">
                  <tr class="table-header">
                    <td>Unit Type</td>
                    <td>Quantity</td>
                    <td>Percentage</td>
                  </tr>

                  {{#if model.affU30}}
                    <tr>
                      <td>Units &lt;30% AMI</td>
                      <td>{{number-format model.affU30 decimals=0}}</td>
                      <td>{{round (mult 100 (div model.affU30 model.affrdUnit))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.affU3050}}
                    <tr>
                      <td>Units 30-50% AMI</td>
                      <td>{{number-format model.affU3050 decimals=0}}</td>
                      <td>{{round (mult 100 (div model.affU3050 model.affrdUnit))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.affU5080}}
                    <tr>
                      <td>Units 50-80% AMI</td>
                      <td>{{number-format model.affU5080 decimals=0}}</td>
                      <td>{{round (mult 100 (div model.affU5080 model.affrdUnit))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.affU80p}}
                    <tr>
                      <td>Units 80-100% AMI</td>
                      <td>{{number-format model.affU80p decimals=0}}</td>
                      <td>{{round (mult 100 (div model.affU80p model.affrdUnit))}}%</td>
                    </tr>
                  {{/if}}
                </table>
              {{/if}}
            </div>
          </article>

          <article>
            <h4>Commercial</h4>

            <div class="row">
              <div class="column">
                {{#if model.estemp}}
                  <div class="field">
                    <label for="estemp">Estimated Employment</label>
                    {{number-format model.estemp decimals=0}}
                  </div>
                {{/if}}

                {{#if model.rptdemp}}
                  <div class="field">
                    <label for="rptdemp">Reported Employment</label>
                    {{number-format model.rptdemp decimals=0}}
                  </div>
                {{/if}}
              </div>

              <div class="column">
                {{#if model.hotelrms}}
                  <div class="field">
                    <label for="hotelrms">Hotel Rooms</label>
                    {{number-format model.hotelrms decimals=0}}
                  </div>
                {{/if}}
              </div>
            </div>

            {{#if commercialAttributes}}
              <p class="attributes">
                <label>Attributes:</label>
                {{commercialAttributes}}
              </p>
            {{/if}}

            <div class="table-wrapper">
              <h3 class="field">
                <label for="commsf">Commercial Square Footage</label>
                {{#if model.commsf}}
                  {{number-format model.commsf decimals=0}} sqft.
                {{else}}
                  No Commercial Usage
                {{/if}}
              </h3>

              {{#if model.commsf}}
                <table class="commercial-makeup">
                  <tr class="table-header">
                    <td>Use Type</td>
                    <td>Floor Area (sqft.)</td>
                    <td>Percentage</td>
                  </tr>

                  {{#if model.retSqft}}
                    <tr>
                      <td>Retail</td>
                      <td>{{number-format model.retSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.retSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}
   
                  {{#if model.ofcmdSqft}}
                    <tr>
                      <td>Office/Medical</td>
                      <td>{{number-format model.ofcmdSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.ofcmdSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.indmfSqft}}
                    <tr>
                      <td>Industrial/Manufacturing</td>
                      <td>{{number-format model.indmfSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.indmfSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.whsSqft}}
                    <tr>
                      <td>Warehouse/Shipping</td>
                      <td>{{number-format model.whsSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.whsSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.rndSqft}}
                    <tr>
                      <td>Research/Development</td>
                      <td>{{number-format model.rndSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.rndSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.eiSqft}}
                    <tr>
                      <td>Educational/Institutional</td>
                      <td>{{number-format model.eiSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.eiSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.hotelSqft}}
                    <tr>
                      <td>Hotel Room</td>
                      <td>{{number-format model.hotelSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.hotelSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.otherSqft}}
                    <tr>
                      <td>Other</td>
                      <td>{{number-format model.otherSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.otherSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}
                </table>
              {{/if}}
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="layout-column">
      {{#if model.devlper}}
        <div class="detail">
          <h3>Developer</h3>
          <p>{{model.devlper}}</p>
        </div>
      {{/if}}

      {{#if model.user}}
        <div class="detail">
          <h3>Entry Created By</h3>
          <p>{{model.user.fullName}}</p>
        </div>
      {{/if}}

      <div class="detail">
        <h3>Last Updated</h3>
        <p>{{model.updatedAt}}</p>
      </div>
    </div>
  </div>


</section>
